Repository professor-greebie/SENG8080-1-field_project, pull requests merged in 2023-08, with the labels that each got.

#112 Added Files #111
  Data_Quality/Clean_Data/GenomeCleanData.csv
  Data_Quality/Clean_Data/Transform.py
  Data_Quality/Clean_Data/gnome.fa
  Data_Quality/Readme.md
  README.md
Labels: data-quality

#119 Python script to add CSV into Database
  Data Storage and Maintainance/ReadMe.txt
  Data Storage and Maintainance/store_data_in_mongo.py
  README.md
Labels: Data Storage and Maintainance

#120 Added EDA first draft.
  Data Analysis and Visualization/EDA_Genome.ipynb
Labels: Data Visualization

#122 Enhanced the code's finally block
  Data Storage and Maintainance/store_data_in_mongo.py
Labels: Data Storage and Maintainance
